<div class="shmdb-search-forms">
    <form method="post" action="/db_search" class="shmdb-search-form">
        <div>
            <label for="title">Movie/Series Name</label>
            <input type="text" name="title" id="title" placeholder="Search for movies or TV shows" />
        </div>
        <div>
            <label for="year">Year of Release</label>
            <input type="text" name="year" id="year" placeholder="Search for year" />
        </div>
        <button type="submit">Search</button>
    </form>
</div>