<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}SHMDB{% endblock %}</title>
    <link rel="stylesheet" href="/static/animations.css">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/buttons.css">
    <link rel="stylesheet" href="/static/cards.css">
    <link rel="stylesheet" href="/static/components.css">
    <link rel="stylesheet" href="/static/form.css">
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="/static/media.css">
    <link rel="stylesheet" href="/static/result.css">
    <link rel="stylesheet" href="/static/typography.css">
    <link rel="stylesheet" href="/static/variables.css">
    <link rel="stylesheet" href="/static/news.css">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body>
    <div class="page-wrapper">
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="/static/shmdb-logo.png" alt="SH Movie Database Logo" class="logo-flicker">
        </div>
        <div style="text-align: center; margin-bottom: 20px;">
            <h1>{% block header %}SHMDB{% endblock %}</h1>
            {% block subheader %}{% endblock %}
        </div>

        {% block content %}{% endblock %}
    </div>
</body>

</html>