<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TMDB Uploader</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <h1>TMDB Uploader</h1>
  <h2>Upload Movie or TV Series</h2>

  <form method="post" action="/search">
    <input type="text" name="name" placeholder="Search for movies or TV shows">
    <button type="submit">Search</button>
  </form>


  <div class="toggle-container">
    <label>
      <input type="checkbox" id="darkModeToggle"> Dark Mode
    </label>
  </div>
  <script>
    const toggle = document.getElementById('darkModeToggle');
    const body = document.body;
    if (localStorage.getItem('theme') === 'dark') {
      body.classList.add('dark-mode');
      toggle.checked = true;
    }
    toggle.addEventListener('change', () => {
      if (toggle.checked) {
        body.classList.add('dark-mode');
        localStorage.setItem('theme', 'dark');
      } else {
        body.classList.remove('dark-mode');
        localStorage.setItem('theme', 'light');
      }
    });
  </script>

</body>

</html>